.tabs {
    margin: 0 0 30px;
}

.tabs-caption {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    position: relative;
    margin-bottom: 30px;
    @include media-breakpoint-up(md) {
        margin-bottom: 0;
    }
}

.tabs-caption li {
    padding: 16px 0;
    margin: 1px 0 0 1px;
    border-bottom: 3px solid #e8bf5d;
    color: #FFF;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    position: relative;
}

.tabs-caption li:not(.active) {
    cursor: pointer;
}

.tabs-caption li:not(.active):hover {
    background-color: #383838;
}

.tabs-caption .active {
    background: transparent;
    color: #e8bf5d;
}

.tabs-content {
    display: none;
    background-color: #e8bf5d;
    border-radius: 5px;
    padding: 42px;
    color: #212529;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 31px;
}

.tabs-content.active {
    display: block;
}

.tabs.vertical {
    display: flex;
    flex-wrap: wrap;
}

.tabs-caption {
    float: left;
    display: block;
}

.tabs-caption li {
    float: none;
    border-width: 2px 0 2px 2px;
    border-bottom: 3px solid #e8bf5d;

}
